SNAP_DIR = "/path/to/snap"         # directory with snap built
USE_CYTHON_CRAWLERS = True         # python/cython mode switcher
USE_NETWORKIT = True               # Use networkit library for approximate centrality calculation