USE_CYTHON_CRAWLERS = True           # python/cython mode switcher
SNAP_DIR = "/path/to/snap"           # directory with snap built
USE_NETWORKIT = True                 # Use networkit library for approximate centrality calculation
USE_LIGRA = True                     # Use Ligra library for approximate centrality calculation
LIGRA_DIR = "/path/to/ligra"         # directory with Ligra built